h1 {
  margin-bottom: 25px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: green;
  font-size: 300%;
  /*text-shadow: 2px 2px #FF0000;*/
      text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
}
div{
  /*padding: 10px;*/
  margin: 10px;
  border: 2px solid black;
  background-color: gray;
}
section{
  width: 100%;
  /*border: 1px solid black;*/
  background-color: gray;
  float: right;
  margin-top: 0;
  margin-right: 0;
  clear: left;

}
p {
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 1px black;
  border-right: 1px black;
  width: 30%;
  height: 30px;
  margin-top: 0;
  font-family: Helvetica;
  color: black;
  float: right;
  font-weight: bold;
  font-size: 120%;
  text-align: center;
  /*word-wrap: break-word;*/
}
#p1{
  background-color: #ff9999;

}
#p2{
  background-color: #eb4747;
  color: white;
}
#p3{
  background-color: #BDB76B;
}

/* Simple Responsive Framework. */
.row {
  width: 130%;
}
/********** Large devices -- Desktops**********/
@media (min-width: 992px) {
  .col-lg-1{
    float: left;
    border: 2px solid black;
  }

  .col-lg-1 {
    width: 30%;
  }
  
}
/********** Medium devices -- Like Tablets**********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1 {
    float: left;
    border: 2px solid black;
  }
  .col-md-1 {
    width: 41.66%;
  }
  
}

/********** Small devices -- Like Mobile phones**********/
@media (max-width: 767px) {
  .col-sd-1 {
    float: left;
    border: 2px solid black;
  }
  .col-sd-1 {
    width: 50%;
  }
  #p1{
    height: 30px;
    width: 35%;
  }
}
body{
  background: url('../images/bRestaurant.jpg');
  background-size: auto;
}
